{{ define "main/list_ls.tmpl" }}
{{ template "header.html" }}
		<div>
            <h1>infra Helper</h1>
            <pre style="word-wrap: break-word; white-space: pre-wrap;">
                <div>{{ .resultado }}</div>
            </pre>
		</div>
{{ template "footer.html" }}
{{ end }}