{{ define "users/index.tmpl" }}
<html><h1>
	Infra Helper
</h1>
<p>{{ .cumprimento }}</p>
<br>
<table>
	<tr>
		<td>Nome</td>
		<td>Idade</td>
	</tr>
	{{range .Projetos}}
	<tr>
		<td>{{.Nome}}</td>   
		<td>{{.Descricao}}</td>   
	</tr>
	{{end}}
</table>
</html>
{{ end }}